<app-navbar></app-navbar>

<div class="flex">
  <app-sidebar></app-sidebar>

   <form class="h-full w-full m-5" [formGroup]="formulario" *ngIf="formulario">

      <div class="flex justify-between">
        <p class="text-white font-medium justify-start text-lg font-bold">INFO
          DO RACHA</p>

      </div>

      <div class="flex justify-between">
        <app-button-green [value] = 'Voltar' (click)="return()"></app-button-green>
        <app-button-yellow [value] = 'Editar' (click)="edit()"></app-button-yellow>
      </div>

      <div class="items-center flex justify-between">
        <div class="">
          <label class="block text-sm text-white" for="id">Código</label>
          <input formControlName="id" class="default-input text-center p-2.5" type="text" id="id" required>
        </div>

        <app-button-green [value] = 'Adicionar' (click)="add()"></app-button-green>
      </div>


      <app-racha-form [formulario]="formulario"></app-racha-form>

      <div class="mt-5">
        <mat-table mat-table [dataSource]="arrayJogadorRacha" class="mat-elevation-z2">

          <ng-container matColumnDef="id">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let jogador"> {{jogador.idJogador}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let jogador"> {{jogador.nomeJogador}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="gols">
            <div>
              <mat-header-cell mat-header-cell *matHeaderCellDef> Gols </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let jogador"> {{jogador.gols}} </mat-cell>
            </div>
          </ng-container>

          <ng-container matColumnDef="assistencias">
            <div>
              <mat-header-cell mat-header-cell *matHeaderCellDef> Assistências </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let jogador"> {{jogador.assistencias}} </mat-cell>
            </div>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

    </form>

</div>
