<div>
  <app-navbar></app-navbar>
</div>

<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="h-full w-full p-5">
    <h2 class="mb-2 text-lg font-semibold text-white dark:text-white">
      Meu perfil
    </h2>

    <div>
      <app-user-form [userForm]="userForm"></app-user-form>
    </div>


    <div class="mt-5">
      <h2 class="text-lg mb-0 font-semibold text-white dark:text-white">
        Jogador
      </h2>
      <form class="h-full w-full" [formGroup]="jogadorForm" *ngIf="jogadorForm">

        <div class="grid grid-cols-3">
          <div class="mr-4">
            <label class="block text-sm text-white" for="posicao">Posição</label>
            <input
              formControlName="posicao"
              class="default-input w-full p-2.5"
              type="text"
              id="posicao"
              aria-label="posicao"
              required
            />
          </div>

          <div class="mr-4">
            <label class="block text-sm text-white" for="gols">Gols</label>
            <input
              formControlName="gols"
              class="default-input w-full p-2.5"
              type="text"
              id="gols"
              aria-label="gols"
              required
            />
          </div>

          <div>
            <label class="block text-sm text-white" for="assistencias">Assistências</label>
            <input
              formControlName="assistencias"
              class="default-input w-full p-2.5"
              type="text"
              id="assistencias"
              aria-label="assistencias"
              required
            />
          </div>
        </div>

    </form>
    </div>



    <div class="mt-5 w-full ">
      <h2 class="mb-2 text-lg font-semibold text-white dark:text-white">
        Rachas:
      </h2>
      <div class="bg-white rounded-lg text-black p-4">
        <ul *ngFor="let racha of jogadorRacha" class="flex items-center list-disc list-inside text-md flex">
          <li>
         {{ racha.racha!.nome }}
          </li>
          <a routerLink="/profile" routerLinkActive="active" class="flex items-center p-2 text-black rounded-lg hover:text-black">
            <mat-icon>info</mat-icon>
          </a>
      </ul>
      </div>

    </div>
  </div>
</div>
