      <form class="h-full w-full" [formGroup]="formulario" *ngIf="formulario">
        <div>
          <div class="grid grid-cols-2">
            <div class="mr-4">
              <label class="block text-sm text-white" for="nome">Nome</label>
              <input
                formControlName="nome"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                required
              />
            </div>

            <div >
              <label class="block text-sm text-white" for="caixa">Caixa</label>
              <input
                formControlName="caixa"
                class="default-input w-full p-2.5"
                type="text"
                id="caixa"
                aria-label="caixa"
                required
              />
            </div>
          </div>
        </div>

      </form>
