<app-navbar></app-navbar>

<div class="flex">
  <app-sidebar></app-sidebar>

  <form class="h-full w-full m-5" [formGroup]="formulario" *ngIf="formulario">

      <div class="flex justify-between">
        <p class="text-white font-medium justify-start text-lg font-bold">REGISTRE
          O USUÁRIO</p>
      </div>

      <div class="grid grid-cols-3">
        <div class="col-span-2 mr-4">
          <label class="block text-sm text-white" for="nome">Nome</label>
          <input formControlName="nome" class="default-input p-2.5 w-full " type="text" id="nome" aria-label="nome" required>
        </div>

        <div >
          <label class="block text-sm text-white" for="cpf">Cpf</label>
          <input formControlName="cpf" class="default-input p-2.5 w-full" type="text" id="nome" aria-label="nome" mask="000.000.000-00">
        </div>
      </div>

      <div class="grid grid-cols-4">
        <div class="mr-4">
          <label class="block text-sm text-white" for="idade">Idade</label>
          <input formControlName="idade" class="default-input p-2.5 w-full" type="text" id="idade"  aria-label="idade" mask="00">
        </div>

        <div class="mr-4">
          <label for="role" class="text-left text-white">Selecione o tipo</label>
          <select id="role" formControlName="role" class="default-input p-2.5 w-full ">
            <option *ngFor="let role of roles" [value]="role.id">
              {{role.role}}
            </option>
          </select>
        </div>

        <div class="col-span-2">
          <label class="block text-sm text-white" for="role">Telefone</label>
          <input formControlName="telefone" class="default-input p-2.5 w-full" type="text" id="telefone"  aria-label="telefone" mask="(00) 00000-0000">
        </div>
      </div>

      <div class="grid grid-cols-3">
        <div class="col-span-2 mr-4">
          <label class="block text-sm text-white" for="email">E-mail</label>
          <input formControlName="email" class="default-input p-2.5 w-full" type="email" id="email" aria-label="email" required>
        </div>

        <div class="">
          <label class="block text-sm text-white" for="senha">Senha</label>
          <input formControlName="senha" class="default-input p-2.5 w-full" type="password" id="senha"  aria-label="senha" required>
        </div>
      </div>

      <div class="items-center flex justify-between my-2">

        <div>
          <app-button-red [value] = "Nao" (click)="return()"></app-button-red>
        </div>

        <div class="align-end">
          <app-button-green [value] = "Sim" (click)="save()"></app-button-green>
        </div>

      </div>

</form>

</div>
