<div id="default-sidebar" class="flex h-screen sidebar" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto">
     <ul class="space-y-2 font-medium">
        <!-- <li>
          <a routerLink="/home" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
              <mat-icon mat-icon>home</mat-icon>
            <span class="hover:text-black ml-3">Home</span>
          </a>
        </li> -->
        <li>
          <a routerLink="/profile" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <mat-icon class="hover:text-black">account_circle</mat-icon>
            <span class="hover:text-black ml-3">Meu perfil</span>
          </a>
        </li>
        <li>
           <a routerLink="/user" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
              <mat-icon class="hover:text-black">person</mat-icon>
              <span class="hover:text-black ml-3">Usuários</span>
           </a>
        </li>
        <li>
           <a routerLink="/posicao" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
              <span class="hover:text-black material-symbols-outlined">
              distance
              </span>
              <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Posição</span>
           </a>
        </li>
        <li>
           <a  routerLink="/jogador" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
              <span class="hover:text-black material-symbols-outlined">
                sprint
                </span>
              <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Jogadores</span>
           </a>
        </li>
        <li>
           <a routerLink="/quadra" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
              <span class="hover:text-black material-symbols-outlined">
              sports_soccer
              </span>
              <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Quadra</span>
           </a>
        </li>
        <li>
           <a routerLink="/jogos" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <mat-icon class='hover:text-black'>sports_score</mat-icon>
              <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Jogos</span>
           </a>
        </li>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <span class="hover:text-black material-symbols-outlined">
              dashboard
              </span>
            <span class="hover:text-black flex-1 ml-3 whitespace-nowrap">Dashboard</span>
          </a>
       </li>
     </ul>
  </div>
</div>
