<app-navbar></app-navbar>

<div class="flex">
  <app-sidebar></app-sidebar>

  <form class="h-full w-full m-5" [formGroup]="formulario" *ngIf="formulario">

      <div class="flex justify-between">
        <p class="text-white font-medium justify-start text-lg font-bold">INFO
          DO USUÁRIO</p>
        <app-button-yellow [value] = 'Editar' (click)="edit()"></app-button-yellow>
      </div>

      <div class="">
        <label class="block text-sm text-white" for="nome">Código</label>
        <input formControlName="id" class="bg-gray-50 border w-auto border-gray-300 text-center text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2.5" type="text" id="nome" required>
      </div>

      <div class="">
        <label class="block text-sm text-white" for="nome">Nome</label>
        <input formControlName="nome" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" type="text" id="nome"  placeholder="Nome" aria-label="nome" required>
      </div>

      <div class="grid grid-cols-4">
        <div class="mr-4">
          <label class="block text-sm text-white" for="idade">Idade</label>
          <input formControlName="idade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 w-full focus:border-green-500 block p-2.5" type="number" id="idade"  placeholder="idade" aria-label="idade" required>
        </div>

        <div class="mr-4">
          <label class="block text-sm text-white" for="role">Role</label>
          <input formControlName="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 w-full focus:border-green-500 block p-2.5" type="text" id="role"  placeholder="role" aria-label="role" required>
        </div>

        <div class="col-span-2">
          <label class="block text-sm text-white" for="role">Telefone</label>
          <input formControlName="telefone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 w-full focus:border-green-500 block p-2.5" type="text" id="telefone"  placeholder="telefone" aria-label="telefone" required>
        </div>
      </div>

      <div class="">
        <label class="block text-sm text-white" for="email">E-mail</label>
        <input formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" type="email" id="email"  placeholder="Email" aria-label="email" required>
      </div>

      <div class="items-center flex justify-between">
        <div>
          <label class="block text-sm text-white" for="created">Criado:</label>
          <input formControlName="created" class="bg-gray-50 border w-auto border-gray-300 text-center text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2.5" type="text" id="created" required>
        </div>

        <div class="align-end">
          <label class="block text-sm text-white" for="updated">Modificado:</label>
          <input formControlName="updated" class="bg-gray-50 border w-auto border-gray-300 text-center text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2.5" type="text" id="updated" required>
        </div>
      </div>

</form>

</div>
