<form class="h-full w-full" [formGroup]="userForm" *ngIf="userForm">
        <div>
          <div class="grid grid-cols-4">
            <div class="col-span-3 mr-4">
              <label class="block text-sm text-white" for="nome">Nome</label>
              <input
                formControlName="nome"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                required
              />
            </div>

            <div >
              <label class="block text-sm text-white" for="idade">Idade</label>
              <input
                formControlName="idade"
                class="default-input w-full p-2.5"
                type="number"
                id="idade"
                aria-label="idade"
                required
              />
            </div>

          </div>

          <div class="grid grid-cols-4">

            <div class="col-span-2 mr-4">
              <label class="block text-sm text-white" for="cpf">Cpf</label>
              <input
                formControlName="cpf"
                class="default-input w-full p-2.5"
                type="text"
                id="nome"
                aria-label="nome"
                required
              />
            </div>

            <div class="col-span-2">
              <label class="block text-sm text-white" for="role">Telefone</label>
              <input
                formControlName="telefone"
                class="default-input w-full p-2.5"
                type="text"
                id="telefone"
                aria-label="telefone"
                mask="(00) 00000-0000"
              />
            </div>
          </div>

          <div class="">
            <label class="block text-sm text-white" for="email">E-mail</label>
            <input
              formControlName="email"
              class="default-input w-full p-2.5"
              type="email"
              id="email"
              aria-label="email"
              required
            />
          </div>
        </div>
      </form>
