<app-navbar></app-navbar>



<div class="flex">
  <app-sidebar></app-sidebar>


  <form class="h-full w-full m-5" [formGroup]="formulario" *ngIf="formulario">

      <div class="flex justify-between">
        <p class="text-white font-medium justify-start text-lg font-bold">REGISTRE
          O USUÁRIO</p>
      </div>

      <div class="">
        <label class="block text-sm text-white" for="nome">Nome</label>
        <input formControlName="nome" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" type="text" id="nome" aria-label="nome" required>
      </div>


      <div class="grid grid-cols-4">
        <div class="mr-4">
          <label class="block text-sm text-white" for="idade">Idade</label>
          <input formControlName="idade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 w-full focus:border-green-500 block p-2.5" type="number" id="idade"  aria-label="idade" required>
        </div>

        <div class="mr-4">
          <label for="role" class="text-left text-white">Selecione o tipo</label>
          <select id="role" formControlName="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let role of roles" [value]="role.id">
              {{role.role}}
            </option>
          </select>
        </div>

        <div class="col-span-2">
          <label class="block text-sm text-white" for="role">Telefone</label>
          <input formControlName="telefone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 w-full focus:border-green-500 block p-2.5" type="text" id="telefone"  aria-label="telefone" required>
        </div>
      </div>


      <div class="grid grid-cols-3">
        <div class="col-span-2 mr-4">
          <label class="block text-sm text-white" for="email">E-mail</label>
          <input formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" type="email" id="email" aria-label="email" required>
        </div>

        <div class="">
          <label class="block text-sm text-white" for="senha">Senha</label>
          <input formControlName="senha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" type="password" id="senha"  aria-label="senha" required>
        </div>
      </div>

      <!-- <div class="">
        <label for="posicao" class="text-left text-white">Selecione a posição</label>
          <select id="posicao" formControlName="posicao" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value='' disabled selected>Selecione a posição</option>
            <option *ngFor="let posicao of posicao" [value]="posicao.id">
              {{posicao.posicao}}
            </option>
          </select>
      </div> -->

      <div class="items-center flex justify-between my-2">
        <div class="align-end">
          <app-button-nao (click)="return()"></app-button-nao>
        </div>

        <div>
          <app-button-sim (click)="save()"></app-button-sim>
        </div>
      </div>

</form>

</div>
